/***** General Styles *****/
* {
  box-sizing: border-box;
}

.center {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 95%;
}

hr {
  width: 80%;
}

/***** Header Styles *****/
h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.header-text {
  font-family: 'Lexend Zetta', sans-serif;
}

header nav {
  justify-content: center;
}

header nav ul {
  display: block;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

header nav ul li {
  justify-content: space-between;
  width: 50%;
  margin: 10px auto 10px auto;
}

.heading {
  margin-top: 10px;
  background-color: #E7BB41;
  color: white;
  padding: 3px 0px;
  border-radius: 6px;
  height: auto;
}

h3 {
    font-family: 'Lexend Zetta', sans-serif;
    color: #01634f;
    padding: 3px 0;
}

/***** Main Content Styles *****/
.center {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 95%;
}

img {
  width: 45%;
}

aside img {
  margin-top: 10px;
}

.inner-center {
  width: 300px;
}

.text-left {
  text-align: left;
  margin: auto;
  padding-left: 4%;
}

ul, ol {
  list-style-position: inside;
}

.seperate {
  margin: auto;
}

.paragraph-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #04977a;
  font-size: 1em;
}

.main-paragraph {
  margin-bottom: 15px;
}

/***** Footer Styles *****/
.bottom-padding {
  margin-bottom: 35px;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
  margin: 10px;
}

header a:link,
footer a:link,
aside a:link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: .95em;
  background-color: #04977a;
  color: white;
  padding: 4px 4px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  width: 30%;
}

header a:visited,
footer a:visited,
aside a:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ff93ed;
}

header a:hover,
footer a:hover,
aside a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #06e4b7;
}

header a:active,
footer a:active,
aside a:active {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 7px 7px;
}

/*****  Media Queries *****/
@media all and (min-width: 800px) {
  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  header nav,
  #main-header {
    width: 50%;
  }

  footer nav ul,
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
  }
  
  .item {
    flex: 1;
    padding: 10px 5px;
  }

  main article .item {
    min-width: 40%;
  }

  .item-double {
    flex: 2;
    padding: 10px 5px;
  }
}

@media all and (min-width: 400px) {
  header nav ul {
    display: flex;
  }
}









